ErtmsFormalSpecs/doc/specs/DataDictionary.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="xsi.xsd"/>
  <xs:element name="Dictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Specification"/>
        <xs:element ref="NameSpaces"/>
        <xs:element ref="Tests"/>
        <xs:element ref="TranslationDictionary"/>
        <xs:element ref="ShortcutDictionary"/>
      </xs:sequence>
      <xs:attribute ref="xsi:noNamespaceSchemaLocation" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Specification">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Chapter"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="version" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Chapter">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Paragraph"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Tests">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Frame"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Frame">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SubSequences"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubSequences">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="SubSequence"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubSequence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="TestCases"/>
      </xs:sequence>
      <xs:attribute name="D_LRBG" use="required"/>
      <xs:attribute name="Level" use="required"/>
      <xs:attribute name="Mode" use="required"/>
      <xs:attribute name="NID_LRBG" use="required"/>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="Q_DIRLRBG" use="required"/>
      <xs:attribute name="Q_DIRTRAIN" use="required"/>
      <xs:attribute name="Q_DLRBG" use="required"/>
      <xs:attribute name="RBCPhone" use="required"/>
      <xs:attribute name="RBC_ID" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestCases">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="TestCase"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReqRef"/>
        <xs:element minOccurs="0" ref="Steps"/>
      </xs:sequence>
      <xs:attribute name="Case" use="required" type="xs:integer"/>
      <xs:attribute name="Feature" use="required" type="xs:integer"/>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Steps">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Step"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Step">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="SubSteps"/>
      </xs:sequence>
      <xs:attribute name="IO" use="required" type="xs:NCName"/>
      <xs:attribute name="LevelIN" use="required" type="xs:NCName"/>
      <xs:attribute name="LevelOUT" use="required" type="xs:NCName"/>
      <xs:attribute name="ModeIN" use="required" type="xs:NCName"/>
      <xs:attribute name="ModeOUT" use="required" type="xs:NCName"/>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="TranslationRequired" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubSteps">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SubStep"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubStep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Actions"/>
        <xs:element minOccurs="0" ref="Expectations"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expectations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Expectation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expectation">
    <xs:complexType mixed="true">
      <xs:attribute name="Blocking" use="required" type="xs:NCName"/>
      <xs:attribute name="DeadLine" use="required" type="xs:integer"/>
      <xs:attribute name="Variable" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranslationDictionary">
    <xs:complexType/>
  </xs:element>
  <xs:element name="ShortcutDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Folders"/>
        <xs:element ref="Shortcuts"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Folders">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ShortcutFolder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShortcutFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Shortcuts"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Paragraph">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Comment"/>
        <xs:element ref="ReqRef"/>
        <xs:element ref="Message"/>
        <xs:element ref="Sub"/>
        <xs:element ref="TypeSpec"/>
      </xs:choice>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="bl" use="required"/>
      <xs:attribute name="functionalBlock" type="xs:NCName"/>
      <xs:attribute name="functionalBlockName" use="required"/>
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="infoRequired" type="xs:NCName"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="optional" type="xs:NCName"/>
      <xs:attribute name="reviewed" type="xs:NCName"/>
      <xs:attribute name="scope" use="required" type="xs:NCName"/>
      <xs:attribute name="specIssue" type="xs:NCName"/>
      <xs:attribute name="status" use="required" type="xs:NCName"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="version" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="MsgVariable"/>
      </xs:sequence>
      <xs:attribute name="bl" type="xs:NMTOKEN"/>
      <xs:attribute name="description" use="required"/>
      <xs:attribute name="media" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Paragraph"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TypeSpec">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="short-description"/>
        <xs:element minOccurs="0" ref="Description"/>
        <xs:element minOccurs="0" ref="reference"/>
        <xs:choice minOccurs="0">
          <xs:element ref="Values"/>
          <xs:element ref="char-value"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="bl" type="xs:NMTOKEN"/>
      <xs:attribute name="ertms-type" type="xs:NCName"/>
      <xs:attribute name="id"/>
      <xs:attribute name="length" use="required" type="xs:integer"/>
      <xs:attribute name="maximum_value"/>
      <xs:attribute name="minimum_value"/>
      <xs:attribute name="resolution_formula"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="short-description" type="xs:string"/>
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="reference" type="xs:NMTOKEN"/>
  <xs:element name="char-value">
    <xs:complexType>
      <xs:attribute name="encoding" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameSpaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="NameSpace"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameSpace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="NameSpaces"/>
        <xs:element minOccurs="0" ref="Ranges"/>
        <xs:element minOccurs="0" ref="Enumerations"/>
        <xs:element minOccurs="0" ref="Structures"/>
        <xs:element minOccurs="0" ref="Collections"/>
        <xs:element minOccurs="0" ref="Functions"/>
        <xs:element minOccurs="0" ref="Procedures"/>
        <xs:element minOccurs="0" ref="Variables"/>
        <xs:element minOccurs="0" ref="Rules"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ranges">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Range"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Range">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReqRef"/>
        <xs:element minOccurs="0" ref="Comment"/>
        <xs:element minOccurs="0" ref="SpecialValues"/>
      </xs:sequence>
      <xs:attribute name="Default" use="required" type="xs:decimal"/>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="MaxValue" use="required" type="xs:decimal"/>
      <xs:attribute name="MinValue" use="required" type="xs:decimal"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="Precision" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="EnumValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Enumerations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Enum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Structures">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Structure"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Structure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReqRef"/>
        <xs:element minOccurs="0" ref="Comment"/>
        <xs:element minOccurs="0" ref="Rules"/>
        <xs:element minOccurs="0" ref="Procedures"/>
        <xs:element maxOccurs="unbounded" ref="StructureElement"/>
      </xs:sequence>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StructureElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReqRef"/>
        <xs:element minOccurs="0" ref="Comment"/>
      </xs:sequence>
      <xs:attribute name="Default" use="required"/>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Mode" use="required" type="xs:NCName"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="TypeName" use="required" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collections">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Collection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Collection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReqRef"/>
        <xs:element minOccurs="0" ref="Comment"/>
      </xs:sequence>
      <xs:attribute name="Default" use="required"/>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="MaxSize" type="xs:integer"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="TypeName" use="required" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Functions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Function"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Function">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReqRef"/>
        <xs:element minOccurs="0" ref="Comment"/>
        <xs:element minOccurs="0" ref="Parameters"/>
        <xs:element ref="Cases"/>
      </xs:sequence>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="Type" use="required" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cases">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Case"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Case">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="PreConditions"/>
        <xs:element ref="Expression"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Expression" type="xs:string"/>
  <xs:element name="Variables">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Variable"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReqRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Comment"/>
      </xs:sequence>
      <xs:attribute name="Id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Action"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Action" type="xs:string"/>
  <xs:element name="Shortcuts">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Shortcut"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Shortcut">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ShortcutName"/>
      </xs:sequence>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShortcutName" type="xs:NCName"/>
  <xs:element name="Values">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="resolution-formula"/>
        <xs:choice>
          <xs:element ref="special-or-reserved-values"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="EnumValue"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resolution-formula">
    <xs:complexType mixed="true">
      <xs:attribute name="units"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="special-or-reserved-values">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="special-or-reserved-value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="special-or-reserved-value">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="match-range"/>
        <xs:element minOccurs="0" ref="mask"/>
        <xs:element minOccurs="0" ref="match"/>
        <xs:element minOccurs="0" ref="meaning"/>
        <xs:element minOccurs="0" ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="match-range">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="minimum"/>
        <xs:element ref="maximum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="minimum" type="xs:NMTOKEN"/>
  <xs:element name="maximum" type="xs:NMTOKEN"/>
  <xs:element name="mask" type="xs:integer"/>
  <xs:element name="match" type="xs:string"/>
  <xs:element name="meaning">
    <xs:complexType mixed="true">
      <xs:attribute name="bl" type="xs:NMTOKEN"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="value">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:integer">
          <xs:attribute name="units" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="MsgVariable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MsgVariable"/>
      </xs:sequence>
      <xs:attribute name="bl" type="xs:NMTOKEN"/>
      <xs:attribute name="comment" use="required"/>
      <xs:attribute name="length"/>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Comment" type="xs:string"/>
  <xs:element name="EnumValue">
    <xs:complexType>
      <xs:attribute name="Name" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="Value" use="required" type="xs:decimal"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Enum">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Comment"/>
        <xs:element ref="ReqRef"/>
        <xs:element ref="Values"/>
        <xs:element ref="SubEnums"/>
      </xs:choice>
      <xs:attribute name="Default" use="required" type="xs:NCName"/>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubEnums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Enum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Rule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procedures">
    <xs:complexType>
      <xs:choice>
        <xs:element maxOccurs="unbounded" ref="Procedure"/>
        <xs:element maxOccurs="unbounded" ref="StructureProcedure"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Procedure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReqRef"/>
        <xs:element minOccurs="0" ref="Comment"/>
        <xs:element minOccurs="0" ref="Parameters"/>
        <xs:element minOccurs="0" ref="Rules"/>
        <xs:element ref="StateMachine"/>
      </xs:sequence>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StructureProcedure">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element ref="Comment"/>
          <xs:element ref="Parameters"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="Rules"/>
        <xs:element ref="StateMachine"/>
      </xs:sequence>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Parameter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter">
    <xs:complexType>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="Type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PreCondition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreCondition" type="xs:string"/>
  <xs:element name="Variable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReqRef"/>
        <xs:element minOccurs="0" ref="Comment"/>
        <xs:element minOccurs="0" ref="SubVariables"/>
      </xs:sequence>
      <xs:attribute name="DefaultValue"/>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="Type" use="required" type="xs:NCName"/>
      <xs:attribute name="VariableMode" use="required" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubVariables">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Variable"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rule">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Comment"/>
        <xs:element ref="ReqRef"/>
        <xs:element ref="SubRules"/>
        <xs:element ref="Conditions"/>
      </xs:choice>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="Priority" use="required" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Conditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="RuleCondition"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RuleCondition">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Actions"/>
        <xs:element ref="Comment"/>
        <xs:element ref="PreConditions"/>
        <xs:element ref="ReqRef"/>
        <xs:element ref="SubRules"/>
      </xs:choice>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="Name" use="required"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
      <xs:attribute name="Verified" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="StateMachine">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ReqRef"/>
          <xs:element ref="States"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="Rules"/>
      </xs:sequence>
      <xs:attribute name="Default"/>
      <xs:attribute name="Implemented" type="xs:NCName"/>
      <xs:attribute name="InitialState" use="required"/>
      <xs:attribute name="NeedsRequirement" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="States">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="State"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="State">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="StateMachine"/>
      </xs:sequence>
      <xs:attribute name="Height" use="required" type="xs:integer"/>
      <xs:attribute name="Name" use="required" type="xs:NCName"/>
      <xs:attribute name="Width" use="required" type="xs:integer"/>
      <xs:attribute name="X" type="xs:integer"/>
      <xs:attribute name="Y" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Rule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
